<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jayson's Little Blockchain Demo</title>
  <link rel="stylesheet" href="style.css">
</head>

<body onload="callOnPageLoad()">
        <script>
        function callOnPageLoad(){
            document.getElementById("textareaEx").style.height="1px";
            document.getElementById("textareaEx").style.height=(25+document.getElementById("textareaEx").scrollHeight)+"px";
            }
        </script>
  <h1>My Blockchain Demo!</h1>

  <b> This is the blockchain</b>
  <p>
   <% for(var i=0; i<blocks.length; i++) {
       let str = blocks[i];    
    %>
       
      <textarea rows="10" cols="90" readonly>
 Block # <%= i+1%> :
 Hash:          <%= str.hash%>
 PreviousHash:  <%= str.previousHash%>
 Nonce: <%= str.nonce%>
 Transactions:  <% for(var j=0; j<str.transactions.length;  j++) { %>  <% let trans = str.transactions[j]; %>
   From account: <%= trans.sourceAcct%>
   To account:   <%= trans.targetAcct %>
   Ammount:      <%= trans.amount %>
   -- <%}%> 
      </textarea>
      <br>
     
  <% } %>
  
 

 
</body>
</html>