<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
        background: #555;
    }
    
    .content {
        max-width: 700px;
        margin: auto;
        background: white;
        padding: 10px;
    }
    </style>
    <title>Jayson's Little Blockchain Demo</title>
</head>

<body onload="callOnPageLoad()">
    <div class="content">
        <script>
        function callOnPageLoad(){
            document.getElementById("textareaEx").style.height="1px";
            document.getElementById("textareaEx").style.height=(25+document.getElementById("textareaEx").scrollHeight)+"px";
            }
        </script>
  <h1>My Blockchain Demo!</h1>

  <b> This is the blockchain</b>
  <p>
   <% for(var i=0; i<blocks.length; i++) {
       let str = blocks[i];    
    %>
       
      <textarea rows="10" cols="90" readonly>
 Block # <%= i+1%> :
 Hash:          <%= str.hash%>
 PreviousHash:  <%= str.previousHash%>
 Nonce: <%= str.nonce%>
 Transactions:  <% for(var j=0; j<str.transactions.length;  j++) { %>  <% let trans = str.transactions[j]; %>
   From account: <%= trans.sourceAcct%>
   To account:   <%= trans.targetAcct %>
   Ammount:      <%= trans.amount %>
   -- <%}%> 
      </textarea>
      <br>
     
  <% } %>
  
 

    </div>
</body>
</html>